# Définir un nom
name: Laravel CI
# Définir les triggers
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # 1- Récupérer le code source
            - name: Récupérer le code source 
              uses: actions/checkout@v5

            # 2 - Exécuter les tests
            - name: Run test
              run: cd app && composer install && cp .env.example .env && php artisan key:gen && php artisan test
            
            # 3- Construire l'image
            - name: Build app image
              run: docker build -t amk07/laravelcicd:latest .

